/* Sidebar Styles */
.admin-panel {
  display: flex;
  position: relative;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 100;
}

.sidebar.collapsed {
  left: -250px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background-color: #34495e;
}

.sidebar-menu i {
  margin-right: 10px;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
}

/* Admin Header */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logout-btn {
  background:  #e74c3c;
  border: none;
  color: #f8f1f1;
  font-size: 16px;
  cursor: pointer;
}

/* Toggle Button Position - For Mobile View */
.toggle-sidebar-btn {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 200;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .admin-panel {
    flex-direction: column;
  }

  .sidebar {
    height: 100%;
    top: 0;
    left: -250px;
    position: fixed;
  }

  .sidebar.collapsed {
    left: 0;
  }

  .sidebar-menu li {
    padding: 15px 10px;
  }

  .content-area {
    margin-left: 0;
    padding-top: 60px;
  }
}

/* Larger screens */
@media screen and (min-width: 769px) {
  .toggle-sidebar-btn {
    display: none;
  }

  .content-area {
    margin-left: 250px;
  }
}
